---
import Layout from "../layouts/layout.astro";
import Moose from "../components/moose.astro";
---

<Layout>
  <div class="flex w-full flex-col gap-8 items-center h-full">
    <a href="/">
      <Moose />
    </a>
    <h1>404!!!</h1>
  </div>
</Layout>