---
import MainPage from "../components/main-page.mdx";
import Layout from "../layouts/layout.astro";
import ProjectsGrid from "../components/projects-grid.astro";
import Moose from "../components/moose.astro";
import { Image } from "astro:assets";
import meImg from "../assets/me.jpg";
---

<Layout>
  <div class="flex flex-col gap-8 items-center pb-32">
    <div class="max-w-screen-sm flex flex-col gap-8">
      <div class="grid grid-cols-2 gap-4 items-center">
        <Image src={meImg} alt="olifog" loading="eager" />
        <Moose />
      </div>
      <MainPage />
    </div>
    <div class="w-full flex flex-col gap-2">
      <h3>accumulated stuff</h3>
      <ProjectsGrid />
    </div>
  </div>
</Layout>
